.tela {
    background-color: aquamarine;
    width: 1440px;
    height: 1024px;
    text-align: center;

    
}

.Filho1 {

background-color: aquamarine;
    text-align: center;

    
}
.filho2 {


    text-align: left;

}


